@font-face {
    font-family: 'PT Sans Narrow';
    src: url('fonts/PTSans-NarrowBold.eot');
    src: url('fonts/PTSans-NarrowBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/PTSans-NarrowBold.woff2') format('woff2'),
    url('fonts/PTSans-NarrowBold.woff') format('woff'),
    url('fonts/PTSans-NarrowBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pobeda';
    src: url('fonts/Pobeda-Regular.eot');
    src: url('fonts/Pobeda-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Pobeda-Regular.woff2') format('woff2'),
    url('fonts/Pobeda-Regular.woff') format('woff'),
    url('fonts/Pobeda-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Narrow';
    src: url('fonts/PTSans-Narrow.eot');
    src: url('fonts/PTSans-Narrow.eot?#iefix') format('embedded-opentype'),
    url('fonts/PTSans-Narrow.woff2') format('woff2'),
    url('fonts/PTSans-Narrow.woff') format('woff'),
    url('fonts/PTSans-Narrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pobeda';
    src: url('fonts/Pobeda-Bold.eot');
    src: url('fonts/Pobeda-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Pobeda-Bold.woff2') format('woff2'),
    url('fonts/Pobeda-Bold.woff') format('woff'),
    url('fonts/Pobeda-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/**/
.c-check {
  display: block;
  cursor: pointer; }
  .c-check input {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    position: absolute;
    background: white;
    border-color: transparent; }
  input:checked + .c-check__body .c-check__box:after {
    opacity: 1; }
  input:focus + .c-check__body .c-check__box {
    border-color: #ff181f; }
  .c-check__body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .c-check__box {
    height: 2em;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 2em;
       -moz-box-flex: 0;
        -ms-flex: 0 0 2em;
            flex: 0 0 2em;
    border: 1px solid #d8d8d8;
    position: relative;
    margin-right: 1.3em;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s; }
    .c-check__box:after {
      opacity: 0;
      content: '';
      position: absolute;
      height: 1.2em;
      width: .4em;
      border-bottom: 2px solid #4c4c4c;
      border-right: 2px solid #4c4c4c;
      -webkit-transform: rotate(45deg) translateY(-0.3em);
          -ms-transform: rotate(45deg) translateY(-0.3em);
           -o-transform: rotate(45deg) translateY(-0.3em);
              transform: rotate(45deg) translateY(-0.3em);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto; }
    .c-check__box:hover {
      border-color: #4c4c4c; }
  .c-check__label {
    font-size: 1.3em;
    color: #3e3e3e; }
    .c-check__label a {
      color: #3e3e3e;
      text-decoration: underline;
      -webkit-transition-duration: 0.3s;
           -o-transition-duration: 0.3s;
              transition-duration: 0.3s; }
      .c-check__label a:hover, .c-check__label a:focus {
        -webkit-text-decoration-color: transparent;
                   -moz-text-decoration-color: transparent;
                text-decoration-color: transparent; }

/**/
.c-input {
  font-size: 1.4em;
  font-weight: 300;
  color: #808080;
  text-indent: 0.71429em;
  min-width: 0;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  height: 3.28571em;
  background: rgba(245, 245, 245, .75);
  border: none;
  border-bottom: 0.64286em solid transparent; }
  .c-input:focus {
    border-color: #4c4c4c; }
